<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ajouter un client{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
           <h1> Ajouter un Client </h1>
            {{ form_start(form)}}
            {{ form_widget(form)}}
            {{ form_end(form)}}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>