<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Liste Clients{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Liste Clients</h1>

            <table border="1" cellpadding="10">
                <tr>
                
                    <td>Nom Commercial</td>
                    <td>Nom Client</td>
                    <td>Frais</td>
                    
                </tr>
                
                {% for client in clients %}
                <tr>      
                    <td>Nom Commercial</td>
                    <td>{{ client.nom |e}}</td> 
                    <td><a href="{{path('frais_client', {'id': client.id}) }} ">Voir les Frais</a></td>       
            
                </tr>
                 {% endfor %}

        
            </table>

            <h4><a href="{{ path('client_add')}}">Ajouter un client</a></h4>
        
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>